<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/openbox.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="shade">

    </div>
    <div class="login">
        <form id="loginform" action="login" method="post">
            <p><label>账号<input name='name' type="text"></label></p>
            <p><label>密码<input name='psw' type="text"></label></p>
            <p><input type="submit" value="登录"></p>
        </form>     
    </div>
    <div class="register">
        <form id='registerform' action="register" method="post">
            <p><label>账号<input name="loginname" type="text"></label></p>
            <p><label>密码<input name='password' type="text"></label></p>
            <p><label>再次确认<input type="text"></label></p>
            <p><input type="submit" value="注册"></p>
        </form>     
    </div>
    <div class="container">
      <div class="navs">
        <nav>
          <a href="/">首页</a>
          <a href="/pruduct">产品</a>
          <a href="/topic">文章</a>
          <a href="/message">留言板</a>
        </nav>
        <button class="registerbutton">注册</button>
        <button class='hidenlogin' style="display:none;"><%=user%></button>
        <button class="loginbutton">登录</button>
      </div>
    </div>
    <div class="carousel">
        <div class="imginner">
                  <div class="img" style="background-color:red;">
                  
                  </div>
                  <div class="img" style="background-color:blue;">
                  
                  </div>
                  <div class="img" style="background-color:bisque">
                  
                  </div>
                  <div class="img" style="background-color:hotpink;">
                  
                  </div>
        </div>
    </div>
    <div class="section">
      <div class="topicnav">
          <button>上一页</button>
          <button>下一页</button><button>排名</button>
      </div> 
      <div class="topiclist">
        <ul>
          <li>
            <p>title</p>
            <p>
              content
            </p>
          </li>
          <li>
            <p>title</p>
            <p>
              content
            </p>
          </li>
          <li>
            <p>title</p>
            <p>
              content
            </p>
          </li>
        </ul>
       </div> 
        
    </div>

    <script type="module" src="/javascripts/main-index.js"></script>
    <script>
          
    </script>
  </body>
</html>
