<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/openbox.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
   
    <div class="container">
      <%include ./top-nav.ejs%>
    </div>
    <div class="carousel">
        <div class="imginner">
                  <div class="img" style="background-color:red;">
                  
                  </div>
                  <div class="img" style="background-color:blue;">
                  
                  </div>
                  <div class="img" style="background-color:bisque">
                  
                  </div>
                  <div class="img" style="background-color:hotpink;">
                  
                  </div>
        </div>
    </div>
    <div class="section">
      <div class="topicnav">
          <button>上一页</button>
          <button>下一页</button><button>排名</button>
      </div> 
      <div class="topiclist">
        <ul>
          <li>
            <p>title</p>
            <p>
              content
            </p>
          </li>
          <li>
            <p>title</p>
            <p>
              content
            </p>
          </li>
          <li>
            <p>title</p>
            <p>
              content
            </p>
          </li>
        </ul>
       </div> 
        
    </div>

    <script type="module" src="/javascripts/main-index.js"></script>
    <script>
          
    </script>
  </body>
</html>
