<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/pruduct.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <%include ./sub-pruduct/pruduct-add.ejs%>
    <div class="container">
        <div class="navs">
            <nav>
                <a href="/">首页</a>
                <a href="/pruduct">产品</a>
                <a href="/topic">文章</a>
                <a href="/message">留言板</a>
            </nav>
            <button class="registerbutton">注册</button>
            <button class='hidenlogin' style="display:none;"><%=user%></button>
            <button class="loginbutton">登录</button>
        </div>
        <div class="section">
            
            <div class="classify-nav">
                <input type="text"><button>搜索</button>
                <button class="addpruductbt">添加</button>
            </div>
            <div class="pruduct-box">
                
            </div>
        </div>
    </div>
    <script  type="module" src="/javascripts/pruduct.js"></script>
</body>
</html>