<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/topic.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
    <div class="shade">
    
    </div>
    <div class="topicbox">
      
        <form id="topicform" action="topic/publish" method="post">
            <p><label>标题<input name='title' type="text"></label></p>
            <p><label>内容<textarea name='content' type='text'></textarea></label></p>
            <p><input type="submit" value="发布"></p>
        </form>
    </div>
    <div class="container">
        <div class="navs">
            <nav>
                <a href="/">首页</a>
                <a href="/pruduct">产品</a>
                <a href="/topic">文章</a>
                <a href="/message">留言板</a>
            </nav>
            <button class="registerbutton">注册</button>
            <button class='hidenlogin' style="display:none;"><%=user%></button>
            <button class="loginbutton">登录</button>
        </div>
        <section>
            <div class="left">
                <div class="topic-nav">
                    <button>类别1</button>
                    <button>类别1</button>
                    <button>类别1</button>
                    <button>类别1</button>
                    <button>类别1</button>
                    <button class="findtopicbt">搜索</button>
                    <button class="publicbutton">发布文章</button>
                </div>
                <ul class='topics'>   
                </ul>
            </div>
            
            <div class="right">
                <div class="card">
                   
                </div>
                <div class="card">
                    <img src="" alt="">
                </div>
            </div>
        </section>
    </div>
    <script type="module" src="/javascripts/topic.js"></script>
</body>

</html>