body {
  --basecolor:#00B7FF;
  --basebackcolor:rgb(134, 133, 133);
  padding:0px 50px;
}
a {
  font-size:25px;
  margin:  0px 10px;
  text-align: center;
  text-decoration: none;
 
}
a:hover{
    color:var(--basecolor);
}
.registerbutton{
  position: relative;
  float:right;
  margin: 3px;
  font-size: 20px;
  border:none;
  background:none; 
}
.loginbutton:hover{
  color:var(--basecolor);
}
.registerbutton:hover{
  color:var(--basecolor);
  
}
.loginbutton{
  margin: 3px;
  position: relative;
  float:right; 
  font-size: 20px;
  border: none;
  background: none;
}
.navs{

  text-align: center;
  background: linear-gradient(to top,rgb(216, 213, 213) ,white 30%);
}
.navs>nav{
  
  display: inline-block;
  text-align: center;
  line-height: 40px;
}