.shade{
    position: absolute;
    z-index: 9998;
    opacity: 0.6;
    left: 0;
    top: 0;
    filter: opacity(80);
    background-color: #000;
    display: none;
}
.topicbox{
    box-shadow: 0,3px,4px,#333;
    position: fixed;
    background-color: #fff;
    width: 300px;
    z-index: 9999;
    display: none;
    padding: 5px;
    text-align: center;
}
.left{
    flex:1;
    height: auto;
}
.right{
    border: 1px solid var(--basebackcolor);
    width: 200px;
    height: auto;
}
.card{
    width:200px;
    height: 200px;
}

section{
    display: flex;
   
}
