.left{
    flex:1;
    height: auto;
}
.right{
    border: 1px solid var(--basebackcolor);
    width: 200px;
    height: auto;
}
.card{
    width:200px;
    height: 200px;
}

section{
    display: flex;
   
}
