<div class="pruduct">
    <img src="" alt="">
    <div class="pruduct-desc">
        <p>音响</p>
        <p>3d 自动调节系统</p>
        <p>价格15</p>
    </div>
    <div class = "pruduct-bt">
        <buttonvs>编辑</button>
        <buttonvs>删除</button>
    </div>
</div>